<%= provide :title, "list product" %>
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="overflow_hidden">
          <h1 class="float_left">List categories</h1>
          <%= link_to "add Categories", new_admin_category_path, class: "btn btn-primary float_right" %>
        </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>
                STT
              </th>
              <th>
                Categories
              </th>
              <th>
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
            <%= render @categories %>
          </tbody>
        </table>
        <div class="margin_bottom20px float_right">
          <%= will_paginate %>
        </div>
      </div>
    </div>
  </div>
</div>
